@media (max-width: 850px) {
    .float-img {
      display: none;
    }
  }

.text-nombre{
  position: relative;
  margin-top: 50px;
  margin-left: 50px;
}

/*  gestion du style porofile*/

.fa-edit-user{
  z-index: 1000;
  cursor: pointer;
}

.follow{
  border: 2px solid #eee;
}

.image-background{
height: 50px;cursor: pointer;
}

.edit-contact-info, .show-form-company{
  z-index: 1050;
  cursor:pointer;
}

.user-image{
  height: 100px;width: 100px;
}

.pointer{
  cursor:pointer;
}

.pointer:hover{
  color:blue;
}

.user-update-img{
  height: 140px;width: 150px;
}

.div_delete{
  height: 30px;width: 30px;border: 1px solid blue;z-index: 1100;position: relative;top: -75px;left: 85px;cursor: pointer;
}

.div_update{
  height: 30px;width: 135px;border: 1px solid blue;z-index: 1100;position: relative;top: -65px;left: 10px;cursor: pointer
}
.text-image{
  font-weight: bold;color: blue;
}
.content-company{
  border: 2px solid #eee;z-index: 1000;position: relative;
}

@media screen and (min-width: 992px) {
  .content-company {
    top: -200px;position: relative;
  }
}

.separation{
  border-bottom: 1px solid #eee;padding-top: 15px;padding-bottom: 15px;
}

.content-social,.content-contact{
  border: 2px solid #eee;
}

@media screen and (min-width: 992px) {
  .content-social {
    top: -180px;position: relative;
  }
}

@media screen and (min-width: 992px) {
  .content-contact {
    top: -160px;position: relative;
  }
}

@media screen and (min-width: 200px) and (max-width: 992px) {
  .content-contact,.content-social {
    margin-top:18px
  }
}

@media screen and (min-width: 200px) and (max-width: 991px  ) {
  .menu-separator {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .menu-separator {
    top: -28px;position: relative;margin-right: 15px;
  }
}

.drag-video-one{
  border-top: 2px dashed #ced4da; border-left: 2px dashed #ced4da; border-right: 2px dashed #ced4da; height: 200px;width: 100%;background-color: #e9ecef;
}

.drag-video-second{
  border-bottom: 2px dashed #ced4da; border-left: 2px dashed #ced4da; border-right: 2px dashed #ced4da; height: 200px;width: 100%;background-color: #e9ecef;
}

.border-upload{
  border: 1px solid #339af0;background-color: #eee;
}

.add-update-update{
  border: 1px solid #339af0;cursor: pointer;
}

.add-update-add{
  border-top: 1px solid #339af0;border-bottom: 1px solid #339af0;border-right: 1px solid #339af0;cursor: pointer;
}

@media screen and (max-width: 767px) {
  .left-control {
    margin-left: -15px;
  }
}

  @media screen and (min-width: 769px) and (max-width: 991px) {
  .left-control {
    margin-left: 20px;
  }
}  

.border-fa{
  border: 1px solid #339af0;cursor: pointer;
}

.drag-video-three{
  border-top: 2px dashed #ced4da; border-left: 2px dashed #ced4da; border-right: 2px dashed #ced4da; height: 400px;width: 100%;background-color: #e9ecef;
}

.column-entreprise{
  border:dashed #ced4da;
}

.column-entreprise-data{
   border: 1px solid #eee;
}

.manage-document{
  color:white; background:#2B6CC4;border-radius: 1px;font-weight: bold;text-transform: uppercase;font-size: 12px;cursor: pointer;
}



